* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #1d335a, #142748, #0e1d3a);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-cards {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.pricing-card {
  width: 30rem;
  height: 50rem;
  background: linear-gradient(to right, #1b2f54, #0f1f39);
  border-radius: 1.5rem 8rem 1.5rem 1.5rem;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  position: relative;
}

.pricing-card:nth-child(1) {
  transform: translateX(-15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim1 1s 1s linear forwards;
}

@keyframes cardAnim1 {
  0% {
    transform: translateX(-15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.pricing-card:nth-child(2) {
  transform: translateY(15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim2 1s 1s linear forwards;
}

@keyframes cardAnim2 {
  0% {
    transform: translateY(15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.pricing-card:nth-child(3) {
  transform: translateX(15rem);
  opacity: 0;
  visibility: hidden;
  animation: cardAnim3 1s 1s linear forwards;
}

@keyframes cardAnim3 {
  0% {
    transform: translateX(15rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.card-type {
  width: 22rem;
  height: 4rem;
  transform: rotateZ(-90deg);
  position: absolute;
  top: 12rem;
  left: -13rem;
  border-radius: 2.5rem 2.5rem 0 0;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
}

.card-bottom {
  width: 22rem;
  height: 4rem;
  position: absolute;
  bottom: -4rem;
  border-radius: 0 0 2.5rem 2.5rem;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
}

.pricing-card:nth-child(1) .card-type,
.pricing-card:nth-child(1) .card-bottom {
  background: linear-gradient(to right, #fd60dc, #ffa370);
}

.pricing-card:nth-child(2) .card-type,
.pricing-card:nth-child(2) .card-bottom {
  background: linear-gradient(to right, #df3bfa, #6615fd);
}

.pricing-card:nth-child(3) .card-type,
.pricing-card:nth-child(3) .card-bottom {
  background: linear-gradient(to right, #00d9fc, #174bff);
}

.card-price {
  font-size: 7rem;
  font-weight: 300;
}

.month {
  font-size: 3rem;
  font-weight: 300;
  margin-top: -4rem;
}

.list-item {
  width: 30rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item:nth-child(odd) {
  background-color: rgba(9, 12, 33, 0.5);
}

.list-item i {
  width: 2rem;
  text-align: center;
  font-size: 1.8rem;
  margin-right: 1rem;
}

.list-item span {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.pricing-card:nth-child(1) .card-price,
.pricing-card:nth-child(1) .month,
.pricing-card:nth-child(1) .list i,
.pricing-card:nth-child(1) .list span {
  background: linear-gradient(to right, #fd60dc, #ffa370);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pricing-card:nth-child(2) .card-price,
.pricing-card:nth-child(2) .month,
.pricing-card:nth-child(2) .list i,
.pricing-card:nth-child(2) .list span {
  background: linear-gradient(to right, #df3bfa, #6615fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pricing-card:nth-child(3) .card-price,
.pricing-card:nth-child(3) .month,
.pricing-card:nth-child(3) .list i,
.pricing-card:nth-child(3) .list span {
  background: linear-gradient(to right, #00d9fc, #174bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-btn {
  width: 12rem;
  height: 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
  border: none;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.pricing-card:nth-child(1) .card-btn {
  background: linear-gradient(to right, #fd60dc, #ffa370);
}

.pricing-card:nth-child(2) .card-btn {
  background: linear-gradient(to right, #df3bfa, #6615fd);
}

.pricing-card:nth-child(3) .card-btn {
  background: linear-gradient(to right, #00d9fc, #174bff);
}
